.card-img-top{
height: 290px;
padding: 20px;
width: 400px;
}
.card-contain{
    height: 500px;
    border: none;
    width: 400px;
    background-color: #f2edfe;
}
.containers{
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 30px;
}

.text-con{
    padding: 20px;
}