/* General styles */
.container {
   width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }
  .con-contact{
    /* margin-top: -200px; */
    z-index: 1;
  }
  /* Image and text alignment */
  .text-center h2 {
    font-size: 2rem;
  }
  .contact-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
  }
  .contact-img-div{
    
  }
  
  .bg-cover {
    background-size: cover !important;
  }
  
  @media (max-width: 768px) {
    .text-center h2 {
      font-size: 1.5rem;
    }
    .container {
      padding: 0 10px;
    }
    .pt-5 {
      padding-top: 2rem !important;
    }
    .contai-img{
      width: 400px !important;
      padding: 10px;
    
    }
  }
  
  @media (max-width: 576px) {
    .text-center h2 {
      font-size: 1.25rem;
    }
    .container {
      padding: 0 5px;
    }
    .pt-5 {
      padding-top: 1rem !important;
    }
  }
  